@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/RedHatText-Medium.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
  user-select: none;
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  text-rendering: optimizeLegibility;

  --window: #1D1E2A;
  --preview: #101010;
  --button: #313549;
  --text-white: #FFFFFF;
  --sub-text: #949AB7;

  --active-accent: #765EED;
}

html {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  background-color: var(--window);
  width: max-content;
  height: max-content;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  gap: 24px;
  padding: 24px;
  overflow: hidden;
}

.image-preview {
  background-color: var(--preview);
  width: 512px;
  height: 512px;
  border-radius: 10px;
  grid-column: 1/1;
  grid-row: 1/1;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

#preview_image {
  image-rendering: crisp-edges;
}

.preview-controls {
  /* background-color: var(--accent-2); */
  width: 512px;
  height: 48px;
  grid-column: 1/1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#preview_slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button);
  width: 100%;
  height: 4px;
  margin-top: 10px;
}

#preview_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: var(--active-accent);
  width: 16px;
  height: 24px;
  border-radius: 4px;
}

#preview_indicators {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#preview_indicators > span {
  cursor: pointer;
  background-color: var(--active-accent);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.file-system {
  /* background-color: var(--accent-1); */
  width: 316px;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#file_system {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bottom {
  width: 100%;
  display: flex;
  gap: 24px;
}

/* buttons */
button[id^=button] {
  cursor: pointer;
  background-color: var(--button);
  width: 100%;
  height: 48px;
  border: 1px solid var(--preview);
  border-radius: 10px;
  color: var(--text-white);
  font-size: 16px;
  position: relative;
}

/* type button */
button[id$=type] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding: 0;
}

button[id$=type] > span {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

/* type hover common */
button[id$=type] > span:hover {
  color: var(--active-accent);
}

/* icns */
button[id$=type] span:first-child {
  position: relative;
  border-radius: 10px 0 0 10px;
}

/* icns hover */
button[id$=type] span:first-child:hover::before {
  content: "";
  position: absolute;
  top: -4px; /* border: 2px + offset: 2px */
  right: 0;
  bottom: -4px;
  left: -4px;
  border: 2px solid var(--active-accent);
  border-radius: 12px 0 0 12px; /* border-radius: 10px + offset: 2px */
}

/* ico */
button[id$=type] span:last-child {
  position: relative;
  border-radius: 0 10px 10px 0;
}

/* ico hover */
button[id$=type] span:last-child:hover::before {
  position: relative;
  border-radius: 0 10px 10px 0;
  content: "";
  position: absolute;
  top: -4px; /* border: 2px + offset: 2px */
  right: -4px;
  bottom: -4px;
  left: 0;
  border: 2px solid var(--active-accent);
  border-radius: 0 12px 12px 0; /* border-radius: 10px + offset: 2px */
}

/* active type */
button[id$=type] > span[data-active="true"] {
  background-color: var(--preview);
  color: var(--active-accent);
}

button[id$=about] {
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
}

button[id$=about] > img {
  width: 16px;
  height: 16px;
}

/* fs input */
button[id^=input] {
  cursor: pointer;
  position: relative;
  background-color: var(--preview);
  color: var(--text-white);
  width: 100%;
  height: 48px;
  padding: 0 24px;
  border: 1px solid var(--button);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 12px 50px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

button[id^=input] > img {
  width: 12px;
  height: 12px;
}

button[id^=input]:hover::before,
button[id^=input]:focus::before,
button[id$=export]:hover::before,
button[id$=export]:focus::before,
button[id$=about]:hover::before,
button[id$=about]:focus::before {
  content: "";
  position: absolute;
  top: -4px; /* border: 2px + offset: 2px */
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 2px solid var(--active-accent);
  border-radius: 12px; /* border-radius: 10px + offset: 2px */
}

dialog[open] {
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--window);
  width: 60%;
  height: 40%;
  display: grid;
  grid-template-rows: 24px auto min-content;
  gap: 24px;
  border-radius: 10px;
  border: 2px solid var(--active-accent);
  padding: 24px;
  margin: auto;
  overflow: hidden;
}

dialog::backdrop {
  background-color: #101010; /* Hardcoded value because var doesn't work */
  opacity: 0.5;
}

dialog > h3 {
  width: 100%;
  height: 100%;
  color: var(--text-white);
  font-size: 24px;
}

dialog > h3 > span {
  color: var(--active-accent);
}

dialog > p {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: var(--text-white);
  font-size: 14px;
}

#about_dialog {
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 24px;
}

.about-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 24px;
  z-index: 2;
}

.about-info {
  /* background-color: firebrick; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.about-icon {
  width: 128px;
  aspect-ratio: 1;
  margin-bottom: 12px;
}

.about-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: var(--text-white);
}

.about-author {
  font-size: 14px;
  line-height: 14px;
  color: var(--sub-text);
}

.about-author > span {
  color: var(--active-accent);
}

.about-version {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: var(--active-accent);
}

.about-links {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  gap: 24px;
  padding-right: 24px;
  scroll-behavior: smooth;
}

.about-links a:focus {
  outline: 0;
}

.about-links::-webkit-scrollbar {
  background-color: var(--preview);
  width: 12px;
  border-radius: 6px;
}

.about-links::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: var(--button);
  border-radius: 6px;
}

.about-links::-webkit-scrollbar-thumb:hover {
  background-color: var(--active-accent);
}

.about-links img {
  width: 12px;
  aspect-ratio: 1;

}

.about-button {
  cursor: pointer;
  position: relative;
  background-color: var(--button);
  width: 100%;
  min-height: 48px;
  height: 48px;
  border: 1px solid var(--preview);
  border-radius: 10px;
  color: var(--text-white);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  text-decoration: none;
}

.about-dependencies {
  background-color: var(--button);
  width: 100%;
  border: 1px solid var(--preview);
  border-radius: 10px;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
}

.about-dependencies > p {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.about-dependencies > a {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-top: 1px solid var(--preview);
  text-decoration: none;
  color: var(--text-white);
}